<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <distributable />

  <listener>
    <listener-class>jp.programmers.examples.DebugSessionListener</listener-class>
  </listener>


  <servlet>
    <servlet-name>Hello Servlet</servlet-name>
    <servlet-class>jp.programmers.examples.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello Servlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ContentLengthFilter</filter-name>
    <filter-class>jp.programmers.examples.ContentLengthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ContentLengthFilter</filter-name>
    <url-pattern>/length/*</url-pattern>
  </filter-mapping>

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

</web-app>
